body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section {  
  margin-top: 30px;
  margin-left: 30px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
}
input {
  width: 300px;
  height:auto;
  padding: 6px;
  font-size: 20px;
margin-right: 10px;
border-radius: 6px;
}

select {
  padding: 9px;
    font-size: 16px;
    margin-right: 10px;
    border-radius: 4px;
}

button {
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
  background-color: rgb(212, 211, 211);
  border-radius: 6px;
}

form{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

li {
  border: 2px solid grey;
  width: 30vw;
  padding: 10px;
}